<div align="center"><h1>Matches</h1></div>
<div>
  <table class="table" width="80%">
    <tr>
      <th>IdTeamH</th>
      <th>idTeamA</th>
      <th>idChampionship</th>
    </tr>
    <tr *ngFor="let match of matches">
      <td>{{match.IdTeamH}}</td>
      <td>{{match.idTeamA}}</td>
      <td>{{match.idChampionship}}</td>
    </tr>
  </table>
</div>
<div>
  <p>
    <button (click)="addMatch()">Add Match</button>
  </p>
</div>
<router-outlet></router-outlet>